.st-result-container
  width: 70%
 
.st-result-text
  background #fafafa
  display block
  border-left 0.5em solid color-gray
  -webkit-transition border-left 0.45s
  -moz-transition border-left 0.45s
  -o-transition border-left 0.45s
  -ms-transition border-left 0.45s
  transition border-left 0.45s
  padding 0.5em
  &:hover
      border-left 0.5em solid color-theme

.st-result-text h3 a
  color color-blue
  line-height 1.5
  font-size 22px
  
.st-snippet em 
  font-weight bold
  color color-theme
  
@media tablet
  .st-result-text
    padding 1em
   .st-result-container
    width: 100%
  