<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
      <li><a href="http://nichunfeng.lofter.com" target="_blank" title="Aircity">My Lofter</a></li>
    </ul>
</div>