<div id="main" class="module">
	<article> 
        <header class="article-info clearfix">
          <h1 itemprop="name">
          空城明恋
          </h1>
        </header>
        <div class="article-content">
            <p itemprop="description"><%- item.content %></p>
        </div>     
	</article>
</div> 